body{
	background-color: #7B68EE;
}
.monstruo {
	height: 1400px;
	width: 870px;
	background-color: #006400;
	position: absolute;
	font-family: Arial;
	font-size: 20px;
	color: white;
}
div{
	height: 100px;
	width: 100px;
	background-color: grey;
	border: 2px solid black;
	margin: 5px 5px;
	padding: 10px;
}

.padre {
	height: 134px;
	width: 410px;
	background-color: #2E8B57;
}
.alingPadre {
	display: inline-block;
	background-color: #DB7093;
}
.lineaDos {
	display: inline-block;
}
.padre2{
	height: 134px;
	width: 825px;
	background-color: #008B8B;
}
.alingPadre2{
	display: inline-block;
	background-color: #7B68EE;
}
.lineaDe5{
	display: inline-block;
	background-color: #4B0082;
}
.lineaDe3{
	display: inline-block;
	background-color: #ADFF2F;
}
.esquinaDer{
	 margin-left: 740px;
}
.HijoNoQuerido {
	background-color: red;
	position: relative;
	margin-left: 950px; 
	border: 3px yellow dashed;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
}